<<<<<<< HEAD
body{
}
form{
  border: 1.5px solid black;
  padding: 1em;
  width: 450px;

}
div{
  margin-bottom: 1em;
}
=======


form{
margin: 0;
padding: 15px;
margin-bottom: 10px;
position: absolute;
left: 600px;
width: 500px

}
>>>>>>> 81e8c9bf9456b285740c3854b34659aaa0ce05a2
